{{#if user}}
  <div class="jumbotron">
    <h1>Find a Ride</h1>
    <p>Save the environment and make new friends!</p>
    <p>
      <a href="/rides/create" class="btn btn-success btn-lg" role="button">
        <span class="glyphicon glyphicon-plus"></span> 
        Create New Ride
      </a>
    </p>
  </div>
  
{{else}}
  <div class="jumbotron">
    <h1>Chowdown</h1>
    <p>Sign in to join or create a ride!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span> 
        Sign in!
      </a>
    </p>
  </div>
  
{{/if}}

<table class="table table-hover">
  <thead>
    <tr>
      <th>Destination</th>
      <th>Creator</th>
      <th>Spaces Available</th>
    </tr>
  </thead>
  <tbody>
    {{#each rides}}
      <tr>
        <td>
          <h4>
            <a href="/ride/{{this.path.key}}">{{this.value.destination}}</a>
          </h4>
        </td>
        
        <td>
          <h4>
            {{this.value.user}}
          </h4>
        </td>
        
        <td>
          <h4>
            {{this.value.spacesAvailable}}
          </h4> 
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
   